- unset:
    interface:
      swp22:
        bridge:
          domain:
            br_default: {}
{% if inventory_hostname == "leaf11" %}
- set:
    interface:
      swp32.20-22:
        base-interface: swp32
        type: sub
      swp32.20:
        ip:
          address:
            {{swp32_20_ipv4}}: {}
          vrf: A
        vlan: 20
      swp32.21:
        ip:
          address:
            {{swp32_21_ipv4}}: {}
          vrf: B
        vlan: 21
      swp32.22:
        ip:
          address:
            {{swp32_22_ipv4}}: {}
          vrf: C
        vlan: 22
{% endif %}
