*,
*::before
*::after {
  box-sizing: border-box;
}

html {
  font-family: Lato, "sans-serif";
}

body {
  margin-top: 80px;
}

.header {
  text-align: center;
}

.nav {
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.nav__link {
  text-decoration: none;
  color: #125056
}

.nav__link:not(:last-of-type) {
  margin-right: 2.5rem;
}

.nav__link--active,
.nav__link:hover {
  font-weight: bold;
}

.main {
  margin: 0 auto;
}

.main--about {
  max-width: 500px;
  padding: 0 1rem;
  line-hight: 150%;
}

.main--contact {
  max-width: 500ps;
  padding: 0 1rem;
  line-hight: 150%;
}

.projects {
  display: grid;
  grid-template-colums: 1fr;
  column-gap: 1.25rem;
  justify-content: center;
  jusstify-items: center;
  max-width: 21.875rem;
  margin: 0 auto;
}

@media (min-width: 48.75em) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    max-width: 45rem;
  }
}

@media (min-width: 70em) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
    max-width: 68rem;
  }
}

.project-card {
  padding: 0.75rem 0;
}

.project-card__image {
  max-width: 100%;
  margin-bottom: 1rem;
  transition: transform 0.2s ease-in-out;
}

.project-card__name {
  margin: 0;
  font-size: 1,5rem;
  color: #1c1c1c
}

.project-card:hover .project-card__image {
  transform: translateY(-0.5rem);
}

.u-bare-link {
  text-decoration: none;
}

