html {
  font-family: Lato, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
}

main {
  color: red;
  background-color: yellow;
  max-width: 640px;
  margin: 25px auto;
  padding: 0 20px;
}


