- set:
    bridge:
      domain:
        br_default:
          vlan:
            '10': {}
    interface:
      lo:
        ip:
          address:
            {{loopback_ip}}: {}
        type: loopback
      swp1,5:
        bridge:
          domain:
            br_default: {}
      swp1,4-5:
        type: swp
      swp4:
        bridge:
          domain:
            br_default:
              access: 10
    system:
      hostname: {{host_name}}
