- set:
    router:
      bgp:
        autonomous-system: {{asn}}
        enable: on
        router-id: {{router_id}}
    system:
      hostname: spine13
    vrf:
      default:
        router:
          bgp:
            address-family:
              ipv4-unicast:
                enable: on
                network:
                  {{loopback_ip}}: {}
            enable: on
            neighbor:
              {{nbr}}:
                address-family:
                  ipv4-unicast:
                    soft-reconfiguration: on
                remote-as: external
                type: numbered
              swp1:
                address-family:
                  ipv4-unicast:
                    soft-reconfiguration: on
                remote-as: external
                type: unnumbered
              swp2:
                address-family:
                  ipv4-unicast:
                    soft-reconfiguration: on
                remote-as: external
                type: unnumbered
              swp5:
                address-family:
                  ipv4-unicast:
                    soft-reconfiguration: on
                remote-as: external
                type: unnumbered
    interface:
      lo:
        ip:
          address:
            {{loopback_ip}}: {}
        type: loopback
      swp1-2,4-5:
        type: swp
      swp4:
        ip:
          address:
            {{swp4_ipv4}}: {}
