{% extends "base.html" %}

{% block content %}

<body>
  <header class="navbar">
    <div class="navbar__brand">
      <img class="navbar__logo" src="/static/HH4.gif" alt="Hamburg" />
    </div>

    <ul class="navbar__navigation">
      <li class="navbar__navigation-item">
        <a href="/" class="navbar__link"> home</a>
      </li>
  <div class="navbar">
        <p> Hamburg LAB </p>
  </div>
      
  </header>

  <main class="main">
    <h1 class="main"> {{ nos }} </h1>
  </main>
</body>

  {% endblock %}
