- set:
    router:
      bgp:
        autonomous-system: {{asn}}
        enable: on
        {{router_id}}
    system:
      hostname: leaf11
    vrf:
      default:
        router:
          bgp:
            address-family:
              ipv4-unicast:
                enable: on
                network:
                  {{loopback_ip}}: {}
            enable: on
            neighbor:
              swp21:
                address-family:
                  ipv4-unicast:
                    soft-reconfiguration: on
                remote-as: external
                type: unnumbered
              swp22:
                address-family:
                  ipv4-unicast:
                    soft-reconfiguration: on
                remote-as: external
                type: unnumbered
    interface:
      lo:
        ip:
          address:
            {{loopback_ip}}: {}
        type: loopback
      swp21-22:
        type: swp
