- set:
    bridge:
      domain:
        br_A:
          vlan:
            '10': {}
    system:
      hostname: {{host_name}}
    interface:
      dci_swp5:
        bond:
          member:
            swp5: {}
        type: bond
      dci_swp5,swp1-2:
        bridge:
          domain:
            br_A: {}
              access: 10
      lo:
        ip:
          address:
            {{loopback_ip}}: {}
        type: loopback
      swp1-2,5:
        type: swp
      swp5:
        link:
          state:
            up: {}


