- set:
    bridge:
      domain:
        br_default:
          vlan:
            {{vid}}:
              vni:
                {{vid}}: {}
    evpn:
      enable: on
      multihoming:
        enable: on
    nve:
      vxlan:
        enable: on
    router:
      bgp:
        autonomous-system: {{asn}}
        enable: on
        router-id: {{router_id}}
      vrr:
        enable: on
    system:
      hostname: {{host_name}}
    vrf:
      A1:
        evpn:
          enable: on
          vni:
            '4001': {}
      default:
        router:
          bgp:
            address-family:
              ipv4-unicast:
                enable: on
                network:
                  {{loopback_ip}}: {}
              l2vpn-evpn:
                enable: on
            enable: on
            neighbor:
              swp21:
                address-family:
                  l2vpn-evpn:
                    enable: on
                remote-as: external
                type: unnumbered
              swp22:
                address-family:
                  l2vpn-evpn:
                    enable: on
                remote-as: external
                type: unnumbered
    interface:
      bond01:
        bond:
          member:
            swp25: {}
        bridge:
          domain:
            br_default:
              access: {{vid}}
        evpn:
          multihoming:
            segment:
              enable: on
              local-id: {{es_id}}
              mac-address: {{mac_bond}}
        type: bond
      lo:
        ip:
          address:
            {{loopback_ip}}: {}
        type: loopback
      swp21:
        evpn:
          multihoming:
            uplink: on
        type: swp
      swp22:
        evpn:
          multihoming:
            uplink: on
        type: swp
      {{svi}}:
        ip:
          address:
            {{svi_ipv4}}: {}
          vrf: A1
          vrr:
            address:
              {{svi_ipv4_vrr}}: {}
            enable: on
            mac-id: {{anycast_id}}
        type: svi
        vlan: {{vid}}


