- set:
    bridge:
      domain:
        br_default:
          vlan:
            '1': {}
            {% if ({{host_name}} == 'leaf11') or ({{host_name}} == 'leaf12') %}
            '10':
              vni:
                '10': {}
            {% else %}
            '20':
              vni:
                '20': {}
            {% endif %}

    evpn:
      enable: on
      multihoming:
        enable: on
    nve:
      vxlan:
        enable: on
    router:
      bgp:
        autonomous-system: {{asn}}
        enable: on
        router-id: {{router_id}}
    system:
      hostname: {{host_name}}
    vrf:
      default:
        router:
          bgp:
            address-family:
              ipv4-unicast:
                enable: on
                network:
                  {{loopback_ip}}: {}
              l2vpn-evpn:
                enable: on
            enable: on
            neighbor:
              swp21:
                address-family:
                  l2vpn-evpn:
                    enable: on
                remote-as: external
                type: unnumbered
              swp22:
                address-family:
                  l2vpn-evpn:
                    enable: on
                remote-as: external
                type: unnumbered
    interface:
      bond01:
        bond:
          member:
            swp25: {}
        bridge:
          domain:
            br_default:
            {% if ({{host_name}} == 'leaf11') or ({{host_name}} == 'leaf12') %}
            access: 10
            {% else %}
            access: 20
            {% endif %}
        evpn:
          multihoming:
            segment:
              df-preference: 1000
              enable: on
              local-id: {{es_id}}
              mac-address: {{mac_bond01}}
        type: bond
      lo:
        ip:
          address:
            {{loopback_ip}}: {}
        type: loopback
      swp21-22:
        evpn:
          multihoming:
            uplink: on
        type: swp
        
      {% if ({{host_name}} == 'leaf11') or ({{host_name}} == 'leaf12') %}  
      vlan10:
        ip:
          address:
            {{svi10_ipv4}}: {}
        type: svi
        vlan: 10
      {% else %}  
      vlan20:
        ip:
          address:
            {{svi20_ipv4}}: {}
        type: svi
        vlan: 20
      {% endif %}
