<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hamburg Lab</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>


<body>
  <main class="main main--error">
    <h1> 404 - Die Seite konnte heute nicht gefunden werden, vieleicht morgen...</h1>
    
  </main>
</body>
</html>
