{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        Herzlich Willkommen und ich wünsche uns viel Spass beim Expert Cumulus Linux Boot Camp!
        Dieses Boot Camp ist modular aufgebaut und bietet via 3-5 sessions eine Menge and Themen
        die es gmeinsam zu erkunden gilt.
    </p>
    <p> Mein Name ist Andreas la Quiante und als ehemaliger Mitarbeiter von Cumulus Networks 
        und vielen Jahren in der Branche habe ich viel Erfahrung sammeln können, die ich nun,
        als Lead Instructor bei NVIDIA Learning, gerne zurückgeben möchte.
    </p>

</main>

{% endblock %}
