{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        Herzlich Willkommen zum Cumulus Linux Expert Boot Camp!  Dieses für Q4 CY22 in Arbeit befindliche Boot Camp ist modular aufgebaut und bietet via 3-5 Sessions eine Menge an Themen für erfahrende Administratoren und Designer,
         die es gmeinsam zu erkunden gilt. Inhaltlich setzt diese Serie auf die Inhalte des standard Cumulus Linux Boot Camps bzw.auf vergleichbare praktische Erfahrungen mit Cumulus Linux von typischer Weise 1-2 Jahren auf.
    </p>

    <p>
        Themen sind Schicht2, Schicht3, LAG & MLAG sowie EVPN und die Fehlersuche, welche benötigt werden um ein modernes Leaf-Spine
Netzwerk mit Overlays zu betreiben.
    </p>
    <p> Mein Name ist Andreas la Quiante und bin ein ehemaliger Mitarbeiter von Cumulus Networks, seit vielen Jahren mit Begeisterung und Erfolg in der Branche mit dem Ergebnis, dass ich viele Erfahrungen und Wissen sammeln konnte. 
        Dieses Wissen gebe ich nun, als Lead Instructor bei NVIDIA Learning, gerne zurück. Ich wünsche uns eine wunderbare Schulung und viel Spaß.
    </p>

</main>

{% endblock %}
