{% extends "base.html" %}

{% block content %}
<main class="main--about">
    <p>
        Herzlich Willkommen zum Cumulus Linux Expert Boot Camp!
        Dieses Boot Camp ist modular aufgebaut und bietet via 3-5 sessions eine Menge an Themen,
        die es gmeinsam zu erkunden gilt:
        
        - Unit 01   Einführung
        - Unit 02   Hardware und VX
        - Unit 03   OOB
        - Unit 04   NVUE
        - Unit 05   IF und Brücken
        - Unit 06   LAB und MLAG
        - Unit 07   Schicht 3
        - Unit 08   BGP
        - Unit 10   Filtern
        - Unit 11   Tunnel
        - Unit 12   EVPN Schicht 2
        - Unit 13   EVPN Schicht 3
        - Unit 14   ACL
        - Unit 15   QoS
        - Unit 16   Monitoring
        - Unit 17   Schicht
        - ...
    </p>
    <p> Mein Name ist Andreas la Quiante und als ehemaliger Mitarbeiter von Cumulus Networks 
        und seit vielen Jahren mit Begeisterung in der Branche habe ich sehr viele Erfahrung sammeln können, 
        die ich nun, als Lead Instructor bei NVIDIA Learning, gerne zurückgeben möchte. Ich wünsche uns eine wunderbare Schulung.
    </p>

</main>

{% endblock %}
