<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hamburg Lab</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
 <header class="header">
 <h1>Cumulus Linux Expert Boot Camp</h1>
  <div class="grid">
      <ul class="navbar">
        <li class="navbar__item">Home</li>
        <li class="navbar__item">About</li>
        <li class="navbar__item">Contact</li>
      </ul>
    </header>
   
    <aside class="sidebar">
      <ul class="contents">
        <li class="contents__item">Unit 01</li>
        <li class="contents__item">Unit 02</li>
        <li class="contents__item">Unit 03</li>
        <li class="contents__item">Unit 04</li>
      </ul>
    </aside>
   
    <main class="content">
      <h2>Vorbereitung</h2>
      <p>lalala.</p>
      <p>lalala.</p>
      <p>lalala.</p>
      <p>lalala.</p>
      
    </main>
   
    <footer class="footer">
      Written by ALQ 2022
    </footer>
  </div>

</body>
</html>
