{% extends "base.html" %}

{% block content %}

<main class="main main--units">
    <section class="projects">
        {% for project in projects %}
          <a class"u-bare-link" href"#">
              <article class="project-card">
                  <img class="project-card__image"
                  src ="{{ url_for('static', filename=project['icon']) }}" 
                  />
                  <header class"project-card__meta">
                      <ul class="categories">
                          {% for name in project["name"] %}
                          <li lcass"categories__tag">{{name}}</li>
                          {% endfor %}
              </article>
          </a>
       {% endfor %}
    </section>
</main>
{% endblock %}
